body{
  background-image: url(https://www.baltana.com/files/wallpapers-30/Abstract-Honeycomb-HD-Desktop-Wallpaper-100329.jpg);
background-size: cover;
text-align: center;}


#H1-main{
  margin-top: 10px;
  margin-left: 20px;

}
h1{font-family: 'Shojumaru', cursive;
font-size: 50px;
color: #D3E4CD}

/* Top section */
.nav-item{
  padding-left: 20px;
font-size: 23px;

}
.navbar-brand{
  font-family: 'Shojumaru', cursive;
  color: #D3E4CD;
  padding: 0px;
  margin: 0px;
  margin-right: 1%;
}


.navbar{
  padding-left: 10px;
  padding-top: 10px;
}
.main-container-divs{
  margin-bottom: 5%;
}
.top-div{
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-link{
  border-style: inset;
  border-width: 3px;
  border-radius: 5px;
  font-size: solid 25px;
color: #2FA4Ff;
padding: 0px;}

.nav-link:hover{
  background-color: #2FA4Ff;
}


.carousel-divtext{
  border-radius:15px 50px 30px;
  font-family: 'Shojumaru', cursive;
  font-size:  ;
  color: red;
}


.Big-div{
  padding-right: 9%;
  text-align: left;
}

/* Discount-section */

.carousel-img{
padding: 1% 10% 1% 10%;
border: 1px;
width:
}




/* Contact section */
.Contact { text-align: center;
  width: 10%;
  padding: 1% 0px 10px 0px;
  margin-bottom: 1%;
}
.fa-brands{
  line-height: 5%;
  font-size:25px;
  color: #D3E4CD;
}

.get-in-touch:hover{color: #fff;}

#get-in-touch{
font-size: 130%;
}
.bottom-get-in-touch{
  margin-top: 60px;
}
.fa-brands:hover{color: #fff;}
.qqq{
  position: relative;
  top:50%;
}
.offcanvas{
  background-image: url(https://www.baltana.com/files/wallpapers-30/Abstract-Dots-Artistic-Background-Wallpaper-099993.jpg);
}
.navbar-toggler{
  background-image: url(https://www.baltana.com/files/wallpapers-30/Abstract-Dots-Artistic-Background-Wallpaper-099993.jpg)
}
/* media */

@media (max-width: 1000px) {

body{
  text-align: center;
}
.main-container-divs{
  text-align: center;
}
